# venv
venv/

# MacOS .DS_Store
*/.DS_Store

#Vim
*.swp

# executable code
__pycache__/
*.pyc

# archive files
img/
html/
pdf/

# config
config.py

# test crawler
crawler_test.py

# just for experiment
lab/

